*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(6, 37, 54);
}

h1{
    width: 100%;
    color: rgb(0, 255, 229);
    text-align: center;
    padding: 10px 0px;
    background-color: black;
}

.textAreaDiv,.buttonDiv{
    width: 100%;
    display: flex;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(61, 60, 60, 0.639);
    justify-content: center;
}

.textArea{
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    border: none;   
    outline: none;
    font-weight: bold;
    box-shadow: 0px 0px 10px 5px white;
    background-color: rgb(48, 101, 101);
}

.buttonDiv{
    gap: 100px;
    align-items: center;
}

.buttonDiv button{
    border: none;
    outline: none;
    font-weight: bold;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.5s linear;
    box-shadow: 0px 0px 5px 2px wheat;
}

button:hover{
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 5px wheat;
    background-color: rgb(135, 135, 135);
}

.buttonDiv p{
    font-weight: bold;
    color: gold;
    font-size: 20px;
}   

.fotter{
    margin: 0px;
    paddin: 0px;
    font-size: 15px;
    position: absolute;
    bottom: 0px;
}